@font-face {
  font-family: "iconfont"; /* Project id 2633914 */
  src: url('../font/iconfont.eot?t=1626229231288'); /* IE9 */
  src: url('../font/iconfont.eot?t=1626229231288#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/iconfont.woff?t=1626229231288') format('woff'),
       url('../font/iconfont.ttf?t=1626229231288') format('truetype'),
       url('../font/iconfont.svg?t=1626229231288#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cellphone:before {
  content: "\e625";
}

.icon-phone-icon:before {
  content: "\e624";
}

.icon-wechat-icon:before {
  content: "\e623";
}

.icon-twitter-icon:before {
  content: "\e622";
}

.icon-google-icon:before {
  content: "\e61d";
}

.icon-facebook-icon:before {
  content: "\e61c";
}

.icon-email-icon:before {
  content: "\e61b";
}

.icon-dot1:before {
  content: "\e61e";
}

.icon-store-home:before {
  content: "\e61a";
}

.icon-guanbi2:before {
  content: "\e653";
}

.icon-wancheng1:before {
  content: "\e60b";
}

.icon-touxiang-copy-copy-copy:before {
  content: "\e609";
}

.icon-xinaixin:before {
  content: "\e667";
}

.icon-huochewuliu:before {
  content: "\e621";
}

.icon-dingwei:before {
  content: "\e657";
}

.icon-guolv:before {
  content: "\e685";
}

.icon-dianpu:before {
  content: "\e669";
}

.icon-radio-checked:before {
  content: "\e603";
}

.icon-emit-icon:before {
  content: "\e618";
}

.icon-shanchu:before {
  content: "\e616";
}

.icon-tianjia:before {
  content: "\e602";
}

.icon-fuzhi:before {
  content: "\e64b";
}

.icon-a-bianzu8:before {
  content: "\e613";
}

.icon-a-bianzu12:before {
  content: "\e61f";
}

.icon-a-bianzu16:before {
  content: "\e620";
}

.icon-xiangji:before {
  content: "\e74e";
}

