@import "./variables.less";

@green: @baseColor;
@search-padding: 0;
@search-background-color: transparent;
@search-content-background-color: #F5F5F5;
@button-small-height: 30px;
@button-small-font-size: 12px;
@tree-select-nav-background-color: #F8F8F8;
@tree-select-nav-item-padding: 13px 16px;
@picker-cancel-action-color: #42b7ae;
@picker-confirm-action-color: #42b7ae;
@divider-border-color:#EEEEEE;
@search-padding: 0;
@search-action-padding: 0;
@toast-default-width: 50%;